$inputWidth:280px;
$inputWidthDesctop: $inputWidth+40px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.outer {
    background-color: #F4F4F4;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 60px 0;
    box-sizing: border-box;
}

.inner {
    padding: 0 20px;
    box-sizing: border-box;
    width: 320px;
    margin: auto;
    background-color: #FFF;
}

.top {
    padding-top: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;


    &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #212121;
    }

    &__list {
        list-style-type: none;
    }
}

.full_picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 37px;

    .ellipse {
        width: 202px;
        align-self: center;
    }

    .reduslim {
        position: absolute;
        top: 180px;
        align-self: center;
    }
}

.desctop__left {
    display: none;
}

.heading {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    color: #212121;
}

.form_order {
    margin: 28px 0;

    .form__input {
        padding: 16px 10px;
        background: #F8F8F8;
        border: 1px solid #E4E4E4;
        box-sizing: border-box;
        border-radius: 5px;
        width: $inputWidth;
        margin-top: 10px;
    }

    .input-name {
        margin-bottom: 20px;
    }

    .input-phone {
        width: $inputWidth/3*2-10px;
        margin-right: 5px;
    }

    input::placeholder {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #212121;
        opacity: 0.2;
    }

    .input__label {
        padding-bottom: 10px;
        font-weight: 800;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #212121;
    }

    .green-label {
        color: #428A60;
    }
}

select {
    padding: 0 10px;
    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;
    width: $inputWidth/3;

}

.button__submit {
    padding: 12px 20px;
    width: $inputWidth;
    background: #428A60;
    border-radius: 5px;
    border-width: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;

    .arrow {
        padding-left: 10px;
    }
}


.footer__nav {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    padding: 11px 0;

    .footer__link {
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }
}

@media (min-width: 1280px) {
    .outer {
        padding: 75px 80px;
    }

    .inner {
        padding: 0;
        width: 1120px;
    }

    .top {
        display: none;
    }

    .desctop {
        display: flex;
    }

    .desctop__left {
        display: block;
        height: 500px;
        width: 560px;
        background: url(img/left.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .healthy__way {
        height: 500px;
        width: 560px;
    }

    .heathy__way-heading {
        background: #F8F8F8;
        border-top-right-radius: 30px;
        height: 136px;
    }

    .heading {
        padding: 29px 129px;
    }

    .form {
        padding: 52px 123px 60px 117px;

        .form_order {
            margin: 0 0 38px 0;
        }

        .form__input {
            width: $inputWidthDesctop;
            padding: 16px 20px;
        }

        .input-phone {
            width: $inputWidthDesctop/3*2-20px;
        }

        .button__submit {
            width: $inputWidthDesctop;
        }

    }

    .footer__nav {
        display: none;
    }
}